*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
*.dSYM/
*.bin
*.sdf
*.opendb
*.idb
*.pdb
*.ilk
*.map
*.exp
*.gch
*.pch
*.iobj
*.ipdb
*.stackdump
*.bak
*.swp
*.~*

build/
Build/
out/
Out/
release/
Release/
debug/
Debug/
bin/
Bin/
obj/
Obj/

CMakeFiles/
CMakeScripts/
*.cmake
CMakeCache.txt
cmake_install.cmake
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

.idea/
.vs/
.vscode/
*.suo
*.user
*.userprefs
*.sln.docstates

*.log
*.tlog/
*.log
*.log.*

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db

._*
.Spotlight-V100
.Trashes

.directory
*.swp

*.tar
*.gz
*.bz2
*.zip
*.rar
*.7z